<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Inventory Management System</title>
  <!-- Add viewport meta tag -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Add Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="/home">Admin Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/products">Products pages</a>
      </li>

    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <form  th:action="@{/logout}" method="post">
          <button class="btn btn-primary" type="submit">Logout</button>
        </form>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-12">
      <h1 class="text-center mb-4">Add New Product</h1>
      <div class="card">
        <div class="card-body">
          <form th:action="@{/products/new}" enctype="multipart/form-data" method="POST">
            <div class="form-group">
              <label>Product Brand:</label>
              <input type="text" name="product_brand" class="form-control" placeholder="Enter Brand Name">
            </div>

            <div class="form-group">
              <label>Product Name:</label>
              <input type="text" name="product_name" class="form-control" placeholder="Enter Product Name">
            </div>

            <div class="form-group">
              <label>Product Price:</label>
              <input type="number" name="product_price" class="form-control" placeholder="Enter Product Price">
            </div>

            <div class="form-group">
              <label>Product Gender:</label>
              <select name="product_gender" id="product_gender" class="form-control">
                <option value="Women">Women</option>
                <option value="Men">Men</option>
              </select>
            </div>

            <div class="form-group">
              <label for="product_category">Product Category:</label>
              <select name="product_category" id="product_category" class="form-control">
                <option value="Trainers">Trainers</option>
                <option value="Loafers">Loafers</option>
                <option value="Boots">Boots</option>
                <option value="Heels">Heels</option>
                <option value="Dress Shoes">Dress Shoes</option>
                <option value="Heeled Sandals">Heeled Sandals</option>
                <option value="Brogues">Brogues</option>
              </select>
            </div>

            <div class="form-group">
              <label>Product Description:</label>
              <textarea id="product_description" name="product_description" class="form-control" rows="4"></textarea>
            </div>

            <div class="form-group">
              <label>Product Image:</label>
              <input type="file" name="product_image" class="form-control-file">
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary">
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>