<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inventory Management System</title>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>List of Products</h1>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <a th:href="@{/products/new}" class="btn btn-primary">Add Product</a>
      </div>
    </div>

    <table class="table table-striped table-bordered">
      <thead class="table-dark">
        <tr>
          <th>Product Brand</th>
          <th>Product Name</th>
          <th>Product Price</th>
          <th>Product Gender</th>
          <th>Product Category</th>
          <th>Product Description</th>
          <th>Product Image</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
      <tr th:each="product: ${products}">
        <td th:text="${product.productBrand}"></td>
        <td th:text="${product.productName}"></td>
        <td th:text="${product.productPrice}"></td>
        <td th:text="${product.productGender}"></td>
        <td th:text="${product.productCategory}"></td>
        <td th:text="${product.productDescription}"></td>
        <td th:text="${product.productImage}"></td>
        <td>
          <a th:href="@{/product/edit/{id}(id=${product.id})}" class="btn btn-primary">
            Update
          </a>
          <a th:href="@{/product/delete/{id}(id=${product.id})}" class="btn btn-danger">
            Delete
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</body>
</html>